@namespace FeMs.ACat.Pages.User
@layout UserLayout
@page "/user/login"

<div class="main__b__0">
    <div class="login">
        <Form Model="@_model" OnFinish="HandleSubmit" >
          <FormItem>
              <AntDesign.Input Placeholder="Employee num: Y00537" Size="large" @bind-Value="@context.UserName">
                       <Prefix><Icon Type="user" /></Prefix>
               </AntDesign.Input>
          </FormItem>
          <FormItem>
               <AntDesign.Input Placeholder="Password" Size="large" @bind-Value="@context.Password" Type="password">
                      <Prefix><Icon Type="lock" /></Prefix>
                </AntDesign.Input>
           </FormItem>
           <FormItem>
                 <RadioGroup @bind-Value="@loginType" >
                          <Radio Value="1">SICC Login</Radio>
                          <Radio Value="2">Account Login</Radio>
                 </RadioGroup>
           </FormItem>
            <div>
                <Checkbox Checked="@context.AutoLogin">
                    Auto Login
                </Checkbox>
                <a style="float: right;">
                    Forgot Password
                </a>
            </div>
            <Button Type="primary" HtmlType="submit" Class="submit" Size="large" Block>Log in </Button>
            <div class="other">
                <a class="register" href="/user/register">Register Account</a>
            </div>
        </Form>
    </div>
</div>